/* M A I N  S T R U C T U R E */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:600,400,300,800);

html, body, .wrapper {
  height: 100vh;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans',sans-serif;
  font-weight: 600;
  letter-spacing: 0.15em;
}
a, a.active, a:active, a:focus, a:hover {
  outline: 0;
  text-decoration: none;
  cursor: pointer
}
.holder {
  position: absolute;
  top: 40%;
  width: 100vw;
}
/* B A C K G R O U N D  A N I M A T I O N */
body {
  animation: colorchange 45s infinite; /* duration in seconds*/
  -webkit-animation: colorchange 45s infinite; /* Chrome and Safari */
}
@keyframes colorchange {
  0%   {background: #48d991;}
  25%  {background: #6FCCD4;}
  50%  {background: #0684C4;}
  75%  {background: #F499A2;}
  100% {background: #48d991;}
}
/* Safari and Chrome - necessary duplicate */
@-webkit-keyframes colorchange {
  0%   {background: #48d991;}
  25%  {background: #6FCCD4;}
  50%  {background: #0684C4;}
  75%  {background: #F499A2;}
  100% {background: #48d991;}
}
/* B U T T O N  A N I M A T I O N */
a.btn:link, a.btn:visited {
  position: relative;
  display: block;
  width: 180px;
  margin: 30px auto 0;
  padding: 14px 15px;
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  letter-spacing: .07em;
  -webkit-transition: all .3s ease;
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}
a.btn:link:after, a.btn:visited:after {
  content: "";
  position: absolute;
  background: none repeat scroll 0 0 #fff;
  height: 0%;
  left: 50%;
  top: 50%;
  width: 100%;
  z-index: -1;
  -webkit-transition: all .3s ease 0s;
  -moz-transition: all .3s ease 0s;
  -o-transition: all .3s ease 0s;
  transition: all .3s ease 0s;
}
a.btn:link:hover, a.btn:visited:hover {
  color: #333;
  text-shadow: none;
}
a.btn.btn-fom:after {
  width: 0%;
  border-radius: 50%;
  opacity: .5;
  -moz-transform: translateX(-50%) translateY(-50%);
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}
a.btn.btn-fom:hover:after {
  height: 450%;
  width: 110%;
  opacity: 1;
}